In [ ]:
x = 'Hello World'
print(x)

Hello World

In [ ]:
# Loop control
#1. Loop variable initialization
#2. condition for termination
#3. Updation of loop variable

#in Python we have 2 type loops
#1. For Loop 
#2. While Loop

#1. While Loop

Syntax : while (condition):
           statement 1
		       statement 2
		       .
		       .
		       .
		       statement n
		     statement X

In [ ]:
#Example: Factorial

number = 6 #Loop Variable
result = 1

while number > 0:  # condition for termination
  result = result * number
  number = number - 1 # updation

print(result)

720

In [ ]:
# find the sumation of 10

number = 10
result = 0
while number > 0:
  result = result + number
  number = number - 1
print(result)

55

In [ ]:
# find the sumation of 100

number = 100
result = 0
while number > 0:
  result = result + number
  number = number - 1
print(result)

5050

In [ ]:
 # 2. for loop 

 syntax : for i in sequence:
              statement 1
              statement 2
              statement 3
              .
              .
              satement n
          statement x

# All the 3 Loop controls (initialization, termination, updation of loop variable) are performed  in the sequence.
# Sequence could be any collection (Array, List, Tuple, Dictionary)

In [ ]:
for i in ["apple", "Banana", "Mango", "Cherry", "Sapota"]:
  print(i)

apple
Banana
Mango
Cherry
Sapota

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 50, 5):
  print(i)

1
6
11
16
21
26
31
36
41
46

In [ ]:
# Example: finding the Factorial

result = 1
for i in range(1, 7):
  result *= i
print(result, i)

720 6

In [ ]:
result = 1
for i in range(1, 9):
  result += i
print(result)

37

In [ ]:
result = 0
for i in range(10,21):
  result += i
print(result)

165

In [ ]:
start = int(input("Enter the first number: "))
stop = int(input("Enter the second number: "))

result = 0
for i in range(start, stop +1):
   result += i
print(result)

Enter the first number: 10
Enter the second number: 20
165

In [ ]:
While vs For loop

1. while: indefinite and For: definite
2. While: 

Palindrum : when revers the numbers the result will be the same.
for example: 121 palindrum will be 121
             131 palindrum will be 131

In [ ]:
# Break

#Break will stop the nearest the loop and it can be used in both For and while.

# break will stop the very nearest loop

In [ ]:
number = 6 #Loop Variable
result = 1

while number > 0:  # condition for termination
  result = result * number
  number = number - 1 # updation

print(result)

In [ ]:
# this is Do While loop

number = 6
result = 1
while True:
  result = result * number
  number = number - 1
  if number == 0:
    break
print(result)

720

In [ ]:
# continue

# whatever the code is written below the CONTINUE, that will be avoided by the Python control.

for i in range(1, 11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# zip function
# zip is only used when same number of itmes in both list, otherwise it will not working

fruits = ["apple", "banana", "cherry", "Mango"]
price = [40, 20, 25, 50]

result = zip(fruits, price)

for i in result:
  print(i)

('apple', 40)
('banana', 20)
('cherry', 25)
('Mango', 50)

In [ ]:
#enumerate function

students = ["Nayak", "Ansari", "Sanjeet", "Mayur"]

result = enumerate(students)

for i in result:
  print(i)

(0, 'Nayak')
(1, 'Ansari')
(2, 'Sanjeet')
(3, 'Mayur')

In [ ]:
# we can define the start position of indexing through below syntax

students = ["Nayak", "Ansari", "Sanjeet", "Mayur"]

result = enumerate(students, 5)

for i in result:
  print(i)

(5, 'Nayak')
(6, 'Ansari')
(7, 'Sanjeet')
(8, 'Mayur')

In [ ]:
string = "myprogram.exe"

result = string[9:]
print(result)

.exe

In [ ]:
string = "myprogram.exe"

result = string[5:-4]
print(result)

gram

In [ ]:
# collection - Data Structure - class
# collection means collection of more than 1 item
# Data structure not only have data value it also have the information on how to travrse from one element to another

# 1. String
# 2. List
# 3. Dictionary
# 4. Set
# 5. Tuple
# above all the data structure are class

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']